:root {
  --space: 1.5em 0;
  --space: 2em 0; 
}

.main-main-container {
  display: flex;
  flex-direction: column;
  width: 100.5%;
  background-color: #f4f4f4;
}

.main-home-container {
  flex: 1 0 auto; 
  /* padding: var(--space) var(--space); */
  width: 100%; 
}


