.footer {
  height: 8vh;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100.5%;
}


.icon {
  width: 55px;
  height: 55px;
}
.svg-icon {
  width: 75px; 
  padding: 10px;
}
.icon-divs {
  display: flex;
  padding-top: 75px;
  justify-content: space-around;
  width: 100%;
}
.email {
  width: 75%;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  justify-content: center;
  color: #C0B283;
  padding-top: 75px;
}

div.home-footer-icons {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.fa {
  display: flex;
}

.fa:hover {
    opacity: 0.7;
}

.fa-social {
  background: white;
  text-align: center;
}